<%= form_for(@tweet) do |f| %>
	<div class="field row">
		<%= f.label "ツイート内容",class: "col-xs-offset-3 col-xs-6" %>
		<%= f.text_area :body, class: "col-xs-offset-3 col-xs-6" %>
	</div>

	<div class="field row">
        <%= f.attachment_field :tweet_image, class: "col-xs-offset-3 col-xs-6" %>
    </div>

	<div class="actions row">
		<%= f.submit "保存する", class: "btn btn-primary col-xs-offset-3 col-xs-6" %>
	</div>
<% end %>