<div class="container-fluid">
	<% breadcrumb :edit_tweet, @tweet %>
    <%= breadcrumbs pretext: " ",separator: " &rsaquo; " %>
	<%= form_for(@tweet) do |f| %>
	<%= render 'layouts/error_messages', model: @tweet %>
		<div class="row mt-5">
			<%= f.label "ツイート内容",class: "offset-3 col-6" %>
			<%= f.text_area :body, class: "offset-3 col-6" %>
		</div>

		<div class="row mt-5">
	        <%= f.attachment_field :tweet_image, class: "offset-3 col-6" %>
	    </div>

		<div class="row mt-5">
			<%= f.submit "編集する", class: "btn btn-primary offset-3 col-6" %>
		</div>
	<% end %>
</div>