<div class="container-fluid">
	<%= form_for(@tweet) do |f| %>
		<div class="row">
			<%= f.label "ツイート内容",class: "offset-3 col-6" %>
			<%= f.text_area :body, class: "offset-3 col-6" %>
		</div>

		<div class="row">
	        <%= f.attachment_field :tweet_image, class: "offset-3 col-6" %>
	    </div>

		<div class="row">
			<%= f.submit "ツイートする", class: "btn btn-primary offset-3 col-6" %>
		</div>
	<% end %>
</div>