<table class="table">

		<tr><%= attachment_image_tag user, :image, fallback: "no_image.jpg", size:'100x100' %></tr>
		<tr><%= link_to "編集", edit_user_path(user.id) %></tr>

		<tr>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<th><%= link_to "フォロワー", followers_user_path(user.id) %></th>
			<th><%= user.followers.count %></th>
		</tr>

		<tr>
			<th><%= link_to "フォロー", follows_user_path(user.id) %></th>
			<th><%= user.followings.count %></th>
		</tr>

		<tr>
		<% if current_user != user %>
		    <% if user.followed_by?(current_user) %>
		        <th><%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete %></th>
		    <% else %>
		        <th><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></th>
		    <% end %>
		<% end %>
	    </tr>

	    <% unless @user.id == current_user.id %>
		  <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
		  <% if @isRoom == true %>
		    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
		  <% else %>
		    <%= form_for @room do |f| %>
		      <%= fields_for @entry do |e| %>
		        <%= e.hidden_field :user_id, value: @user.id %>
		      <% end %>
		      <%= f.submit "チャット", class:"btn btn-primary btn-lg user-show-chat"%>
		    <% end %>
		  <% end %>
		  <% end %>
		<% end %>

</table>