<div><%= attachment_image_tag user, :image, fallback: "no_image.jpg", size:'150x150', class: "rounded-circle d-block mx-auto" %></div>

	<% if user_signed_in? %>

		<tr>
			<% if current_user != user %>
			    <% if user.followed_by?(current_user) %>
			        <%=link_to "フォロー解除", user_relationships_path(user.id), method: :delete,class: "btn btn-danger" %>
			    <% else %>
			        <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-primary" %>
			    <% end %>
			<% end %>
		</tr>

	    <% unless @user.id == current_user.id %>
	  		<% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
				<% if @isRoom == true %>
					<a href="/rooms/<%= @roomId %>" class="btn btn-info">チャット</a>
				<% else %>
					<%= form_for @room do |f| %>
					<%= fields_for @entry do |e| %>
					<%= e.hidden_field :user_id, value: @user.id %>
					<% end %>
					<%= f.submit "チャット", class:"btn btn-primary user-show-chat"%>
					<% end %>
				<% end %>
			<% end %>
		<% end %>

	<% end %>

	<table class="table">
		<tbody>
			<tr></tr>
	      		<tr>
		        	<td>
		          	<b>ユーザ名</b><span class="offset-3"><%= user.name %></span>
		        	</td>
		      	</tr>

		      	<tr>
		        	<td>
		          		<b>自己紹介</b>
		          		<p class="text-center"><%= user.introduction %></p>
	        		</td>
		      	</tr>

			  	<tr>
		        	<td>
		          	<b>ステータス</b><span class="offset-3">
		          		<% if user.user_status  == 1 %>
	           			トレー二ー
						<% else %>
						トレーナー
						<% end %></span>
		        	</td>
		      	</tr>

		<tr>
			<td class="d-flex justify-content-around">
				<b><%= link_to "フォロー#{user.followings.count}" ,follows_user_path(user.id) %></b>
				<b><%= link_to "フォロワー#{user.followers.count}" ,followers_user_path(user.id) %></b>
			</td>
		</tr>

		

		<tr>
			<th class="text-center card"><%= link_to edit_user_path(user.id) do%><i class="fas fa-wrench"></i><% end %></th>
		</tr>
	</tbody>
</table>