<div class="container-fluid">
  <br>
    <div class="row">
        <div class="col-4 offset-4 card">
            <h2>編集</h2>

            <%= form_for(@user) do |f| %>
            <%= render 'layouts/error_messages', model: @user %>
                <div class="row">
                    <%= f.label :name, "ユーザー名", class: "offset-1" %>
                </div>
                <div class="row">
                    <%= f.text_field :name, class: "col-10 offset-1" %>
                </div>
                <div class="row">
                    <script>
                      $(function() {
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                        $('#img_prev').attr('src', e.target.result);
                            }
                            reader.readAsDataURL(input.files[0]);
                            }
                        }
                        $("#user_image").change(function(){
                            readURL(this);
                        });
                      });
                    </script>
                    <%= attachment_image_tag @user, :image, fallback: "no_image.jpg", size:'100x100', id: "img_prev", class: "mx-auto mt-3 mb-3 rounded-circle profile-img" %>
                </div>
                <div class="row">
                    <%= f.attachment_field :image, class: "mx-auto mt-3 mb-3" %>
                </div>
                <div>
                <div class="row">
                	<%= f.label :introduction, "自己紹介", class: "offset-1" %>
                </div>
                <div class="row">
                	<%= f.text_area :introduction, class: "col-10 offset-1" %>
                </div>
                <div class="field">
                  <%= f.label :user_status, "ステータス", class: "offset-1" %>
                </div>
                <div class="row">
                    <div class="offset-1">
                        <%= f.select :user_status,[["トレーニー", "1"], ["トレーナー", "2"]], include_blank: "選択して下さい" %>
                    </div>
                </div>

                <div class="row">
                    <% if admin_signed_in? %>
                        <%= f.label :recommend_status, "おすすめステータス" %><br />
                        <%= f.select :recommend_status,[["おすすめ", "1"]], include_blank: "選択して下さい" %>
                    <% end %>
                </div>

                <br>

                <div class="row">
                    <%= f.submit "保存", class: "btn btn-outline-dark col-10 offset-1" %>
                </div>

            <% end %>
            <br>
            <div class="row">
                <%= link_to "パスワード変更", edit_user_registration_path, class: "btn btn-outline-secondary mx-auto" %>
                <%= link_to "退会する", hide_user_path, class: "btn btn-outline-danger mx-auto" %>
            </div>
        </div>
    </div>
</div>