<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
            <h2>編集</h2>

            <%= form_for(@user) do |f| %>
                <div>
                    <%= f.label :name, "ユーザー名" %><br />
                    <%= f.text_field :name %>
                </div>
                <div>
                    <%= attachment_image_tag @user, :image, fallback: "no_image.jpg", size:'100x100' %>
                    <%= f.attachment_field :image %>
                </div>
                <div>
                	<%= f.label :introduction, "自己紹介" %><br />
                	<%= f.text_area :introduction %>
                </div>
                <div class="field">
                  <%= f.label :user_status, "ステータス" %><br />
                  <%= f.select :user_status,[["トレーニー", "1"], ["トレーナー", "2"]], include_blank: "選択して下さい" %>
                </div>
                <%= f.submit "保存" %>

            <% end %>
            <%= link_to "パスワード変更", edit_user_registration_path %>
            <%= link_to "退会する", hide_user_path %>
        </div>
    </div>
</div>