<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center">おすすめトレーナー</h1>
		</div>
	</div>
	<div class="row home-torainer">
		<% @users_torainer.each do |torainer| %>
			<div class="">
				<% if torainer.user_status == 2 %>
					<%= link_to user_path(torainer.id) do %>
					<%= attachment_image_tag torainer, :image, fallback: "no_image.jpg", class: "img-fluid home-slide-size" %>
					<% end %>
					<p class="text-center"><%= torainer.name %></p>
						<% if torainer.user_status  == 1 %>
						<p class="text-center">
	           			トレー二ー
	           			</p>
						<% else %>
						<p class="text-center">
						トレーナー
						<% end %>
						</p>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-2 offset-10">
			<%= link_to "トレーナー一覧", torainer_path %>
		</div>
	</div>


	<div class="row">
		<div class="col-12">
			<h1 class="text-center">おすすめトレー二ー</h1>
		</div>
	</div>
	<div class="row home-torainee">
		<% @users_torainee.each do |torainee| %>
			<div class="col-5">
				<% if torainee.user_status == 1 %>
					<%= link_to user_path(torainee.id) do %>
					<%= attachment_image_tag torainee, :image, fallback: "no_image.jpg", class: "img-fluid home-slide-size" %>
					<% end %>
					<p class="text-center"><%= torainee.name %></p>
						<% if torainee.user_status  == 1 %>
						<p class="text-center">
	           			トレー二ー
	           			</p>
						<% else %>
						<p class="text-center">
						トレーナー
						<% end %>
						</p>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-2 offset-10">
			<%= link_to "トレー二ー一覧", torainee_path %>
		</div>
	</div>
</div>