<div class="container-fluid">
	<div class="row">
		<div class="col-12 home-img">
			<%= image_tag 'connectraining1.jpg',class:"d-block mx-auto home-image mt-5" %>
			<h3 class="text-center">ConnecTranningへようこそ！<br>
				<br>
				当サイトへ初めてお越しの方<br>
				<br>
				<%= link_to "「About」", homes_about_path, data: {"turbolinks" => false} %>をご覧ください</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<h1 class="text-center home-while mt-4">Pick Up User!!</h1>
		</div>
	</div>
	<div class="row home-user-slide mt-5">
		<% @users_recommend.each do |user| %>
			<div class="">
				<%= link_to user_path(user.id) do %>
				<%= attachment_image_tag user, :image, fallback: "no_image.jpg", class: "home-while2", size:"300x300" %>
				<% end %>
				<p class="text-center"><%= user.name %></p>
					<% if user.user_status  == 1 %>
					<p class="text-center">
           			トレー二ー
           			</p>
					<% else %>
					<p class="text-center">
					トレーナー
					<% end %>
				</p>
			</div>
		<% end %>
	</div>
</div>