<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>おすすめトレーナー</h1>
		</div>
	</div>
	<div class="row">
		<% @users_torainer.each do |torainer| %>
			<div class="col-xs-3">
				<% if torainer.user_status == 2 %>

					<%= link_to user_path(torainer.id) do %>
					<%= attachment_image_tag torainer, :image, fallback: "no_image.jpg", size:'100x100' %>
					<% end %>
					<p><%= torainer.name %></p>
						<% if torainer.user_status  == 1 %>
						<p>
	           			トレー二ー
						<% else %>
						トレーナー
						<% end %>
						</p>

				<% end %>
			</div>
		<% end %>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h1>おすすめトレー二ー</h1>
		</div>
	</div>
	<div class="row">
		<% @users_torainee.each do |torainee| %>
			<div class="col-xs-3">
				<% if torainee.user_status == 1 %>

					<%= link_to user_path(torainee.id) do %>
					<%= attachment_image_tag torainee, :image, fallback: "no_image.jpg", size:'100x100' %>
					<% end %>
					<p><%= torainee.name %></p>
						<% if torainee.user_status  == 1 %>
						<p>
	           			トレー二ー
						<% else %>
						トレーナー
						<% end %>
						</p>

				<% end %>
			</div>
		<% end %>
	</div>
</div>