<div class="container-fluid">
  <% @entries.each do |entry| %>
    <% if !(entry.user_id == current_user.id) %>
      <div class="row border-bottom">
        <div class="offset-5">
          <strong>
            <%= attachment_image_tag entry.user, :image, fallback: "no_image.jpg", size:'150x150', class: "rounded-circle" %>
              <p>
                <%= entry.user.name %>
              </p>
          </strong>
        </div>
      </div>
    <% end %>
  <% end %>
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |message| %>
          <% if message.user_id == current_user.id %>
            <div class="chat-box text-right">
              <div class="chat-hukidashi1"> <strong><%= message.message %></strong> <br>
                <%= message.created_at.in_time_zone('Japan').strftime("%Y-%m-%d %H:%M")%>
              </div>
            </div>
          <% else %>
            <div class="chat-box text-left">
              <div class="chat-hukidashi2"> <strong><%= message.message %></strong> <br>
                <%= message.created_at.in_time_zone('Japan').strftime("%Y-%m-%d %H:%M")%>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= form_for @message do |f| %>
      <div class="row">
        <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , class: "offset-3 col-5" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿",class: 'btn btn-outline-dark'%>
      </div>
    <% end %>
</div>