
<h4 class="rooms-title">ダイレクトメッセージ</h4>
<% @entries.each do |entry| %>
  <div class="user-name">
  <strong>
    <%= attachment_image_tag entry.user.image, class:"user-image" %>
      <a>
        <%= entry.user.name %>さん
      </a>
  </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="chat-box text-right">
          <div class="chat-face">
            <%= attachment_image_tag message.user, :image, fallback: "no_image.jpg", size:'100x100' %>
          </div>
          <div class="chat-hukidashi"> <strong><%= message.message %></strong> <br>
            <%= message.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% else %>
        <div class="chat-face text-left">
            <%= attachment_image_tag message.user, :image, fallback: "no_image.jpg", size:'100x100' %>
          </div>
          <div class="chat-hukidashi"> <strong><%= message.message %></strong> <br>
            <%= message.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_for @message do |f| %>
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "投稿",class: 'form-submit'%>
    <% end %>
  </div>
</div>