<!DOCTYPE html>
<html>
  <head>
    <title>Connectraining</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0c89bdc520.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

    <header class="navbar navbar-fixed-top navbar-inverse border-bottom header" style="background-color:; ">
      <div class="container-fluid">
        <nav class="nav navbar navbar-left">
          <%=link_to image_tag('logo.jpg', class: "navbar-brand"),root_path, data: {"turbolinks" => false} %>
        </nav>



        <nav class="nav navbar navbar-right">
            <% if user_signed_in? %>

              <li><%= link_to 'Timeline', tweets_path, class:"btn" %></li>
              <li><%= link_to 'Mypage', user_path(current_user), class:"btn" %></li>
              <li><%= link_to 'Tweet', new_tweet_path, class:"btn" %></li>
              <li><%= link_to 'Userlist', users_path, class:"btn" %></li>
              <li><%= link_to 'Search', search_path, class:"btn" %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn" %></li>


             <% elsif admin_signed_in? %>

              <li><%= link_to 'Userlist', users_path, class:"btn" %></li>
              <li><%= link_to 'Search', search_path, class:"btn" %></li>
              <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete, class:"btn" %></li>

            <% else %>

              <li><%= link_to 'Signup', new_user_registration_path, class:"btn"  %></li>
              <li><%= link_to 'Login', new_user_session_path, class:"btn"  %></li>
              <li><%= link_to 'Userlist', users_path, class:"btn" %></li>
              <li><%= link_to 'Search', search_path, class:"btn" %></li>
              <li><%= link_to 'About', homes_about_path, class:"btn"  %></li>
            <% end %>
        </nav>
      </div>
    </header>
  <body>
    <%= yield %>
    <br>
    <br>
    <br>
    <footer class="footer">
      <p class="text-muted text-center">©️shunsuke_nakayama</p>
    </footer>
  </body>
</html>
