<div class="container">
  <br>
  <div class="row">
    <div class="col-4 offset-4 card">
      <h2>パスワード変更</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row">
          <%= f.label :email, :メールアドレス, class: "offset-1" %>
        </div>
        <div class="row">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-10 offset-1" %>
        </div>

        <div class="row">
          <%= f.label :current_password, :元のパスワード, class: "offset-1" %>
        </div>
        <div class="row">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "col-10 offset-1" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="row">
          <%= f.label :password, :新しいパスワード, class: "offset-1" %> <i>(6文字以上)</i>
        </div>
        <div class="row">
          <%= f.password_field :password, autocomplete: "new-password", class: "col-10 offset-1" %>
        </div>

        <div class="row">
          <%= f.label :password_confirmation, :新しいパスワード, class: "offset-1" %>(確認用)
        </div>
        <div class="row">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-10 offset-1" %>
        </div>


      <br>
        <div class="actions">
          <%= f.submit "更新", class: "btn btn-outline-dark col-10 offset-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
